################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CSLight/FileContentIndex/aab36563-cd4c-4ec5-8ff1-b87732d82a5a.vsidx
